
/* BEGIN marginaalit */
body {
/*	width: 60em; */
}
.help{
  background-color: #1BDFFF/*#FF1493*/;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  margin-left: 20px;
  -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  border:none;
  height:100%;
  padding-top: 0.1em;
}
.lista {
  padding-left: 2em;
}

#toc {
	margin-bottom: 5em;
}

h2 {
	margin-top: 3em;
  margin-left: 0.4em;
}

h3 {
	margin-top: 1.7em;
}

h3 {
	margin-left: 0.7em;
}

p {
	margin-left: 1.3em;
}

h4 {
	margin-left: 1em;
}

h4+pre {
	margin-top: -1em;
	margin-left: 3.6em;
	margin-bottom: 2em;
}

h4+ul {
	margin-top: -0.5em;
	margin-left: 1.4em;
	margin-bottom: 2em;
}

pre {
  margin-left: 1.4em;
	border: 1px #000 solid;
	padding: 1em 50em 1em 1em;
	background-color: #ffffff;

	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */
	border-radius: 10px; /* CSS3 */
}
/* END marginaalit */


pre {
	border: 1px #000 solid;
	padding: 1em 50em 1em 1em;
}

span.tab {
	width: 2em; float: left;
}


span.gray {
	color: gray;
}

.tyhja{
	height: 2em;
}

div.viikkoraja {
  -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  color:#333;
  background-color:#FA2;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:none;
  margin: 0em;
  padding-top: 2em;
  color: #black;
  background-color: #11ff44;//228B22;
	  height: 3em;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}

.ekstra {
  border: 2px #000 solid;
  margin: 0.5em;
  padding-right: 1em;
  color: #999;
}

.heading {
  -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  color:#333;
  background-color:#FA2;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:none;
  font-family:'Helvetica Neue',Arial,sans-serif;
  font-size:16px;
  font-weight:700;
  height:32px;
  padding:4px 16px;
  text-shadow:#FE6 0 1px 0;
  padding-top: 1em;
  cursor:pointer;


}
ol {
  padding-left: 1em;
}
.tehtavat {
  //border: 1px #000 solid;
  border:none;
  -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
  color: #333;
  background-color: #D9E577;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  
  margin: 0.5em;
  padding-right: 1em;
  padding-top:1.5em;
  padding-bottom:1.5em;
}
.tehtava {
  border: 1px #000 solid;
  border:none;
  color:#333;
  background-color:#D9E577;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  margin: 0.5em;
  padding-right: 1em;
  
  padding-bottom: 1em;
}

::selection {
    background: #A0E6FF;
}

.toc_title{
  font-size: 14px;
  font-weight: bold;
  cursor:pointer;
  line-height: 20px;

}


h1,h2,h3,h4,h5,h6 {
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,h2,h3 {
  line-height: 40px;
}
h1 {
  font-size: 38.5px;
}
h2 {
  font-size: 31.5px;
}
h3 {
  font-size: 24.5px;
}
h4 {
  font-size: 17.5px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 11.9px;
}
h1 small {
  font-size: 24.5px;
}
h2 small {
  font-size: 17.5px;
}
h3 small {
  font-size: 14px;
}
h4 small {
  font-size: 14px;
}

.viikkoraja-mooc li{
  background: none !important;
  list-style: circle !important;
  margin-left: 1.3em;
}
.viikkoraja-mooc pre {
  font-family: Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;
}